@font-face {
  font-family: "domineregular";
  src: url("Font/Domine-Regular-webfont.eot");
  src: url("Font/Domine-Regular-webfont.eot") format("embedded-opentype"), url("Font/Domine-Regular-webfont.woff2") format("woff2"), url("Font/Domine-Regular-webfont.woff") format("woff"), url("Font/Domine-Regular-webfont.ttf") format("truetype"), url("Font/Domine-Regular-webfont.svg#domineregular") format("svg");
}
@font-face {
  font-family: "dominebold";
  src: url("Font/Domine-Bold-webfont.eot");
  src: url("Font/Domine-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("Font/Domine-Bold-webfont.woff2") format("woff2"), url("Font/Domine-Bold-webfont.woff") format("woff"), url("Font/Domine-Bold-webfont.ttf") format("truetype"), url("Font/Domine-Bold-webfont.svg#dominebold") format("svg");
}
@font-face {
  font-family: "handleeregular";
  src: url("Font/handlee-regular-webfont.eot");
  src: url("Font/handlee-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Font/handlee-regular-webfont.woff2") format("woff2"), url("Font/handlee-regular-webfont.woff") format("woff"), url("Font/handlee-regular-webfont.ttf") format("truetype"), url("Font/handlee-regular-webfont.svg#handleeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "im_fell_french_canon_proRg";
  src: url("Font/FeFCrm27C-webfont.eot");
  src: url("Font/FeFCrm27C-webfont.eot?#iefix") format("embedded-opentype"), url("Font/FeFCrm27C-webfont.woff2") format("woff2"), url("Font/FeFCrm27C-webfont.woff") format("woff"), url("Font/FeFCrm27C-webfont.ttf") format("truetype"), url("Font/FeFCrm27C-webfont.svg#im_fell_french_canon_proRg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "england_hand_dbregular";
  src: url("Font/england-webfont.eot");
  src: url("Font/england-webfont.eot?#iefix") format("embedded-opentype"), url("Font/england-webfont.woff2") format("woff2"), url("Font/england-webfont.woff") format("woff"), url("Font/england-webfont.ttf") format("truetype"), url("Font/england-webfont.svg#england_hand_dbregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: auto;
  background-color: #FCFCFC;
}

.contenuPage {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.entete {
  background-color: #569C87;
  text-align: center;
  font-size: x-large;
  margin-bottom: 2em;
}

.titreEntete {
  letter-spacing: -3px;
}

h1 {
  color: #FCCA46;
  font-family: "dominebold";
}

.blocMenus {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.duoMenus {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2em;
}

.menu1 {
  box-shadow: 0 0 15px #B5B5B1;
  width: 15em;
  background-color: #FCDFDB;
  margin-right: 1em;
}

.texteMenu1 {
  padding-top: 4em;
  padding-bottom: 4em;
  color: #3D1319;
  text-align: center;
}

i {
  font-size: 2em;
  color: #f58134f1;
}

.nomRest1 {
  font-family: "handleeregular", sans-serif;
}

.menuRest1 {
  font-family: "handleeregular", sans-serif;
  font-size: 22px;
}

.menu2 {
  box-shadow: 0 0 15px #B5B5B1;
  width: 15em;
  background-color: #FFF5FE;
  margin-left: 1em;
}

.texteMenu2 {
  padding-top: 100px;
  text-align: center;
  color: #C67412;
  font-family: "im_fell_french_canon_proRg", sans-serif;
}

.nomRest2 {
  font-size: 18px;
  background: linear-gradient(to left, #8F59FF, #C77412);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "im_fell_french_canon_proRg", sans-serif;
}

.menu3 {
  box-shadow: 0 0 15px #B5B5B1;
  width: 15em;
  background-color: #EDEFEF;
  margin-right: 1em;
}

.texteMenu3 {
  padding-top: 5em;
  padding-bottom: 5em;
  text-align: center;
  color: #1776E9;
  font-family: "england_hand_dbregular";
}

.nomRest3 {
  font-size: 22px;
  font-family: "england_hand_dbregular";
  background: linear-gradient(to left, #56a7e6, #1530b7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menuRest3 {
  font-family: Tahoma, Verdana, Geneva, sans-serif;
}

.menu4 {
  box-shadow: 0 0 15px #B5B5B1;
  width: 15em;
  background-color: #FDFFFD;
  margin-left: 1em;
}

.texteMenu4 {
  padding-top: 5em;
  padding-bottom: 5em;
  text-align: center;
  color: #63B24E;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nomRest4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(to left, #83B24E, #c8fa80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Verdana, Geneva, Tahoma, sans-serif, cursive;
}

.menuRest4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif, cursive;
  font-size: 18px;
}

a {
  text-decoration: none;
}

a .menu1 {
  color: #3D1319;
}

.btnProch {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50px;
  width: 300px;
  margin: 21px auto 51px auto;
  background-color: #569C87;
  border-radius: 5.5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.btnProch p {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 7px;
  font-size: 27px;
  font-family: "dominebold";
  font-weight: bold;
  color: #FCCA46;
}

/* ANIMATION DES POINTS*/
.points {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 1%;
}
.points .point {
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
  width: 6.5px;
  height: 6.5px;
  border-radius: 50%;
  background: #FCCA46;
}
.points .point:nth-child(1) {
  animation: pulse 3s linear infinite;
}
.points .point:nth-child(2) {
  animation: pulse 3s linear infinite 200ms;
}
.points .point:nth-child(3) {
  animation: pulse 3s linear infinite 400ms;
}

@keyframes pulse {
  from, 40% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  80%, to {
    opacity: 1;
  }
}
footer {
  background-color: #569C87;
  padding-left: 10px;
  padding-right: 10px;
  bottom: 0;
  position: sticky;
  padding-top: 0;
  padding-bottom: 0;
  width: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#btnSecousse {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 23px;
  flex-direction: row;
  font-family: "dominebold";
  background-color: #569C87;
  padding-left: 20px;
}

#btnSecousse a {
  color: #FCCA46;
}

#btnSecousse h4 {
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
}

/* Animations du site */
/* Zooms sur les menus */
.texteMenu1, .texteMenu2, .texteMenu3, .texteMenu4 {
  transform: scale(1);
  transition: 0.3s ease-in-out;
  opacity: 1;
}

.menu1:hover .texteMenu1 {
  transform: scale(1.2);
  opacity: 0.5;
}

.menu2:hover .texteMenu2 {
  transform: scale(1.3);
  opacity: 0.5;
}

.menu3:hover .texteMenu3 {
  transform: scale(1.2);
  opacity: 0.5;
}

.menu4:hover .texteMenu4 {
  transform: scale(1.3);
  opacity: 0.5;
}

/* Animations de secousse des boutons du footer */
.mentionsLegales:hover, .contactezNous:hover {
  animation: wiggle 1s;
  animation-iteration-count: infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-3deg);
  }
  30% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(3deg);
  }
  60% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(3deg);
  }
}
@media screen and (max-width: 559px) {
  .entete {
    font-size: large;
  }

  footer {
    font-size: 18px;
  }

  .duoMenus {
    flex-direction: column;
    align-items: center;
  }

  .menu1 {
    justify-content: center;
    margin-bottom: 4em;
    margin-right: 0;
  }

  .menu2 {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    margin-left: 0;
  }

  .menu3 {
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
    margin-right: 0;
  }

  .menu4 {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    margin-left: 0;
  }
}

/*# sourceMappingURL=Style.css.map */
