@font-face {
    font-family: 'domineregular';
    src: url('Font/Domine-Regular-webfont.eot');
    src: url('Font/Domine-Regular-webfont.eot') format('embedded-opentype'),
         url('Font/Domine-Regular-webfont.woff2') format('woff2'),
         url('Font/Domine-Regular-webfont.woff') format('woff'),
         url('Font/Domine-Regular-webfont.ttf') format('truetype'),
         url('Font/Domine-Regular-webfont.svg#domineregular') format('svg');
}
@font-face {
    font-family: 'dominebold';
    src: url('Font/Domine-Bold-webfont.eot');
    src: url('Font/Domine-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Font/Domine-Bold-webfont.woff2') format('woff2'),
         url('Font/Domine-Bold-webfont.woff') format('woff'),
         url('Font/Domine-Bold-webfont.ttf') format('truetype'),
         url('Font/Domine-Bold-webfont.svg#dominebold') format('svg');
}
@font-face {
    font-family: 'handleeregular';
    src: url('Font/handlee-regular-webfont.eot');
    src: url('Font/handlee-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Font/handlee-regular-webfont.woff2') format('woff2'),
         url('Font/handlee-regular-webfont.woff') format('woff'),
         url('Font/handlee-regular-webfont.ttf') format('truetype'),
         url('Font/handlee-regular-webfont.svg#handleeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'im_fell_french_canon_proRg';
    src: url('Font/FeFCrm27C-webfont.eot');
    src: url('Font/FeFCrm27C-webfont.eot?#iefix') format('embedded-opentype'),
         url('Font/FeFCrm27C-webfont.woff2') format('woff2'),
         url('Font/FeFCrm27C-webfont.woff') format('woff'),
         url('Font/FeFCrm27C-webfont.ttf') format('truetype'),
         url('Font/FeFCrm27C-webfont.svg#im_fell_french_canon_proRg') format('svg');
}
@font-face {
    font-family: 'england_hand_dbregular';
    src: url('Font/england-webfont.eot');
    src: url('Font/england-webfont.eot?#iefix') format('embedded-opentype'),
         url('Font/england-webfont.woff2') format('woff2'),
         url('Font/england-webfont.woff') format('woff'),
         url('Font/england-webfont.ttf') format('truetype'),
         url('Font/england-webfont.svg#england_hand_dbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body
{
	margin: auto;
	background-color: #FCFCFC;
}
    .contenuPage {
        background-color: white;
        display: flex;
        flex-direction: column;
    }
        .entete {
            background-color: #569C87;
            text-align: center;
            font-size: x-large;
            margin-bottom: 2em;
        }
            .titreEntete {
                letter-spacing: -3px;
            }
                a {
                    text-decoration: none;
                }
                h1 {
                    color: #FCCA46;
                    font-size: 50px;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                }
        .titre {
            margin: auto;
            margin-bottom: 1em;
            font-size: 2em;
            font-family: 'domineregular'
        }
        #bodyMenu1 {
            display: flex;
            flex-direction: column;
            margin: auto;
            background-color: #FCDFDB;
            box-shadow : 0 0 15px #B5B5B1;
            width: 68%;
            margin-bottom: 3em;
            font-family: 'handleeregular' ;
            color: #3D1319;
        }
            .titre1 {
                font-family: 'handleeregular';
                font-size: 2em;
            }
            i {
                margin-top: 1em;
                align-items: center;
                font-size: 4em;
                background: linear-gradient(to left,rgba(240, 187, 144, 0.945), rgba(236, 97, 4, 0.959));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .soustitre {
                font-family: 'handleeregular' ;
                color: #3D1319;
            }
            .listeMenu {
                font-family: 'handleeregular' ;
                color: #3D1319;
                font-size: 23px;
            }
            .basmenu
            {
                text-align: center;
                flex-direction: row;
                margin: auto;
                margin-bottom: 5em;
            }
                .titreBasPage {
                    font-size: 2em;
                    font-family: 'handleeregular';
                }
/* Animation survol des catégories */
#bodyMenu1 .soustitre1:hover:after {
    transform: scaleX(1);
}
#bodyMenu1 .soustitre1:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    border-bottom: solid 3px;
    transform: scaleX(0);
    transition: 0.5s;
    transform-origin: 0% 50%;
}
        #bodyMenu2 {
            display: flex;
            flex-direction: column;
            margin: auto;
            background-color: #FFF5FE;
            box-shadow : 0 0 15px #B5B5B1;
            width: 68%;
            margin-bottom: 3em;
            margin-bottom: 4em;
            font-family: 'im_fell_french_canon_proRg';    
        }
            .titre2 {
                font-size: 2em;
                font-family: "im_fell_french_canon_proRg", sans-serif;
                background: linear-gradient(to left, #8F59FF, #C77412);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            #bodyMenu2 .soustitre .soustitre1Page2
            {
                font-size: 2em;
                color: #C67412;
                text-align: center;
                margin-bottom: 30px;
            }
            #bodyMenu2 .soustitre .soustitre2Page2
            {
                font-size: 2em;
                color: #A56799;
                text-align: center;
                margin-bottom: 30px;
            }
            #bodyMenu2 .soustitre .soustitre3Page2
            {
                font-size: 2em;
                color: #6E4CCC;
                text-align: center;
                margin-bottom: 30px;
            }
            .liste1Menu
            {
            width: 75%;
            margin: auto;
            color: #C67412 ;
            font-size: 1.3em;
            }
            .liste2Menu
            {
            width: 75%;
            margin: auto;
            color: #A56799;
            font-size: 1.3em;
            }
            .liste3Menu
            {
            width: 75%;
            margin: auto;
            color: #6E4CCC;
            font-size: 1.3em;
            }
            
/* Animation survol des catégories */
#bodyMenu2 .soustitre1Page2:hover:after {
    transform: scaleX(1);
  }
#bodyMenu2 .soustitre1Page2:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    border-bottom: 3px solid #C67412;
    transform: scaleX(0);
    transition: 0.5s;
    transform-origin: 0% 50%;
  }
#bodyMenu2 .soustitre2Page2:hover:after {
    transform: scaleX(1);
  }
#bodyMenu2 .soustitre2Page2:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    border-bottom: 3px solid #A56799;
    transform: scaleX(0);
    transition: 0.5s;
    transform-origin: 0% 50%;
  }
#bodyMenu2 .soustitre3Page2:hover:after {
    transform: scaleX(1);
  }
#bodyMenu2 .soustitre3Page2:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    border-bottom: 3px solid #6E4CCC;
    transform: scaleX(0);
    transition: 0.5s;
    transform-origin: 0% 50%;
}
        #bodyMenu3
        {
            display: flex;
            flex-direction: column;
            margin: auto;
            background-color: #EDEFEF;
            box-shadow : 0 0 15px #B5B5B1;
            width: 68%;
            margin-bottom: 3em;
            margin-bottom: 4em;
            font-family: 'england_hand_dbregular';
        }
            .titre3 {
                font-size: 3em;
                font-family: "england_hand_dbregular";
                background: linear-gradient(to left, #56a7e6, #1530b7);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: 'england_hand_dbregular';
            }
/* Animation survol des catégories */
#bodyMenu3 .soustitre1:hover:after {
    transform: scaleX(1);
  }
#bodyMenu3 .soustitre1:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    border-bottom: solid 3px;
    transform: scaleX(0);
    transition: 0.5s;
    transform-origin: 0% 50%;
}
        #bodyMenu4 {
            display: flex;
            flex-direction: column;
            margin: auto;
            background-color: #FDFFFD;
            box-shadow : 0 0 15px #B5B5B1;
            width: 68%;
            margin-bottom: 3em;
            margin-bottom: 4em;
            font-family: "Kalam", cursive;
        }
            .titre4
            {
                font-size: 3em;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                background: linear-gradient(to left, #83B24E, #c8fa80);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
/* Animation survol des catégories */
#bodyMenu4 .soustitre1:hover:after {
    transform: scaleX(1);
  }
#bodyMenu4 .soustitre1:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    border-bottom: solid 3px;
    transform: scaleX(0);
    transition: 0.5s;
    transform-origin: 0% 50%;
}
/* Propriétés communes aux 4 menus */
.titreMenu
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 2em;
}
    .bordure {
        width: 25%;
    }
    .soustitre {
        margin-top: 11px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: justify;
        margin-left: 1em;
        margin-right: 1em;
    }
    .soustitre .soustitre1 {
        font-size: 2em;
    }
    .listeMenu
    {
    width: 75%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    }
    .plat {
        display: flex;
        flex-direction: row;
        justify-content: space-between;    
    }
footer {
    background-color: #569C87;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 0;
    position: sticky;
    padding-top: 0;
    padding-bottom: 0;
    width: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#btnSecousse {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 23px;
    flex-direction: row;
    font-family: "Montserrat", sans-serif;
    background-color: #569C87;
    padding-left: 20px;
}

#btnSecousse a {
    color: #FCCA46;
}

#btnSecousse h4 {
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
}
.mentionsLegales:hover, .contactezNous:hover {
    animation: wiggle 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes wiggle {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(-3deg);
    }
    30% {
      transform: rotate(0deg);
    }
    45% {
      transform: rotate(3deg);
    }
    60% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-3deg);
    }
    90% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(3deg);
    }
  }
@media screen and (max-width: 590px) {
    .Entete {
    font-size: large;
    }
    footer {
        font-size: 18px;
    }
    #bodyMenu1 {
        width: 90%;
    }
    #bodyMenu2 {
        width: 90%;
    }
    #bodyMenu3 {
        width: 90%;
    }
    #bodyMenu4 {
        width: 90%;
    }
    .bordure {
        width: 22%;
    }
    .soustitre .soustitre1 {
        text-align: center;
        font-size: 1.7em;
    }
    .soustitre1Page2 {
        text-align: center;
        font-size: 1.7em;
    }
    .soustitre2Page2 {
        text-align: center;
        font-size: 1.7em;
    }
    .soustitre3Page2 {
        text-align: center;
        font-size: 1.7em;
    }
    .titre1 {
        text-align: center;
    }
    .titre2 {
        text-align: center;
    }
    .titre3 {
        text-align: center;
    }
    .titre4 {
        text-align: center;
    }
}
