@font-face {
    font-family: 'im_fell_french_canon_proIt';
    src: url('FeFCit27C-webfont.eot');
    src: url('FeFCit27C-webfont.eot?#iefix') format('embedded-opentype'),
         url('FeFCit27C-webfont.woff2') format('woff2'),
         url('FeFCit27C-webfont.woff') format('woff'),
         url('FeFCit27C-webfont.ttf') format('truetype'),
         url('FeFCit27C-webfont.svg#im_fell_french_canon_proIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

