@font-face {
    font-family: 'domineregular';
    src: url('Font/Domine-Regular-webfont.eot');
    src: url('Font/Domine-Regular-webfont.eot') format('embedded-opentype'),
         url('Font/Domine-Regular-webfont.woff2') format('woff2'),
         url('Font/Domine-Regular-webfont.woff') format('woff'),
         url('Font/Domine-Regular-webfont.ttf') format('truetype'),
         url('Font/Domine-Regular-webfont.svg#domineregular') format('svg');
}
@font-face {
    font-family: 'dominebold';
    src: url('Font/Domine-Bold-webfont.eot');
    src: url('Font/Domine-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Font/Domine-Bold-webfont.woff2') format('woff2'),
         url('Font/Domine-Bold-webfont.woff') format('woff'),
         url('Font/Domine-Bold-webfont.ttf') format('truetype'),
         url('Font/Domine-Bold-webfont.svg#dominebold') format('svg');
}
@font-face {
    font-family: 'handleeregular';
    src: url('Font/handlee-regular-webfont.eot');
    src: url('Font/handlee-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Font/handlee-regular-webfont.woff2') format('woff2'),
         url('Font/handlee-regular-webfont.woff') format('woff'),
         url('Font/handlee-regular-webfont.ttf') format('truetype'),
         url('Font/handlee-regular-webfont.svg#handleeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'im_fell_french_canon_proRg';
    src: url('Font/FeFCrm27C-webfont.eot');
    src: url('Font/FeFCrm27C-webfont.eot?#iefix') format('embedded-opentype'),
         url('Font/FeFCrm27C-webfont.woff2') format('woff2'),
         url('Font/FeFCrm27C-webfont.woff') format('woff'),
         url('Font/FeFCrm27C-webfont.ttf') format('truetype'),
         url('Font/FeFCrm27C-webfont.svg#im_fell_french_canon_proRg') format('svg');
}
@font-face {
    font-family: 'england_hand_dbregular';
    src: url('Font/england-webfont.eot');
    src: url('Font/england-webfont.eot?#iefix') format('embedded-opentype'),
         url('Font/england-webfont.woff2') format('woff2'),
         url('Font/england-webfont.woff') format('woff'),
         url('Font/england-webfont.ttf') format('truetype'),
         url('Font/england-webfont.svg#england_hand_dbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.Entete {
      background-color: #569C87;
      text-align: center;
      font-size: x-large;
      margin-bottom: 2em;
  }
.titreEntete {
    letter-spacing: -3px;
}
h1 {
    color: #FCCA46;
    font-family: 'dominebold', serif;
}
body
{
	margin: auto;
	background-color: #FCFCFC;
}
.contenuPage {
    background-color: white;
    display: flex;
    flex-direction: column;
}
.titre {
    margin: auto;
    margin-bottom: 1em;
    font-size: 2em;
    font-family: 'domineregular'
}
.titre1 {
    font-family: 'handleeregular';
    font-size: 2em;
}
#bodyMenu1 {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #FCDFDB;
    border: black, 4em;
    box-shadow : 0 0 15px #B5B5B1;
    width: 68%;
    margin-bottom: 3em;
    font-family: 'handleeregular' ;
    color: #3D1319;
}
.listeMenu, .soustitre {
    font-family: 'handleeregular' ;
    color: #3D1319;
}
.titreBasPage {
    font-size: 2em;
    font-family: 'handleeregular';
}
#bodyMenu1 .soustitre1:hover:after {
    transform: scaleX(1);
}
#bodyMenu1 .soustitre1:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    border-bottom: solid 3px;
    transform: scaleX(0);
    transition: 0.5s;
    transform-origin: 0% 50%;
}
#bodyMenu2 {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #FFF5FE;
    border: black, 4em;
    box-shadow : 0 0 15px #B5B5B1;
    width: 68%;
    margin-bottom: 3em;
    margin-bottom: 4em;
    font-family: 'im_fell_french_canon_proRg';    
}
#bodyMenu2 .soustitre1Page2:hover:after {
    transform: scaleX(1);
  }
#bodyMenu2 .soustitre1Page2:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    border-bottom: 3px solid #C67412;
    transform: scaleX(0);
    transition: 0.5s;
    transform-origin: 0% 50%;
  }
#bodyMenu2 .soustitre2Page2:hover:after {
    transform: scaleX(1);
  }
#bodyMenu2 .soustitre2Page2:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    border-bottom: 3px solid #A56799;
    transform: scaleX(0);
    transition: 0.5s;
    transform-origin: 0% 50%;
  }
#bodyMenu2 .soustitre3Page2:hover:after {
    transform: scaleX(1);
  }
#bodyMenu2 .soustitre3Page2:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    border-bottom: 3px solid #6E4CCC;
    transform: scaleX(0);
    transition: 0.5s;
    transform-origin: 0% 50%;
}
.titre2
{
    font-size: 2em;
    /* Fallback: Set a background color. */
    background-color: red;
    
    /* Create the gradient. */
    background-image: linear-gradient(20deg, #C77412, #8F59FF);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
#bodyMenu3
{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #EDEFEF;
    border: black, 4em;
    box-shadow : 0 0 15px #B5B5B1;
    width: 68%;
    margin-bottom: 3em;
    margin-bottom: 4em;
    font-family: 'england_hand_dbregular';
}
#bodyMenu3 .soustitre1:hover:after {
    transform: scaleX(1);
  }
#bodyMenu3 .soustitre1:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    border-bottom: solid 3px;
    transform: scaleX(0);
    transition: 0.5s;
    transform-origin: 0% 50%;
}
.titre3 {
    font-family: 'england_hand_dbregular';
    /* Fallback: Set a background color. */
    background-color: red;
    
    /* Create the gradient. */
    background-image: linear-gradient(-45deg, #1530b7 10%, #56a7e6 60%, #56a7e6 80%);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-family: 'england_hand_dbregular';
    font-size: 3em;
}
#bodyMenu4 {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #FDFFFD;
    border: black, 4em;
    -webkit-box-shadow : 0 0 15px #B5B5B1;
    -moz-box-shadow : 0 0 15px #B5B5B1;
    box-shadow : 0 0 15px #B5B5B1;
    width: 68%;
    margin-bottom: 3em;
    margin-bottom: 4em;
    font-family: "Kalam", cursive;
}
#bodyMenu4 .soustitre1:hover:after {
    transform: scaleX(1);
  }
#bodyMenu4 .soustitre1:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    border-bottom: solid 3px;
    transform: scaleX(0);
    transition: 0.5s;
    transform-origin: 0% 50%;
}
.titre4
{
    /* Fallback: Set a background color. */
    background-color: red;
    
    /* Create the gradient. */
    background-image: linear-gradient(-80deg,#c8fa80 30% , #c8fa80 30%,#83B24E 40% );
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-family: "Dancing Script", cursive;
    font-size: 3em;
    font-family: "Kaushan Script", cursive;
    font-size: 3em;
}
.titre1, .titre2, .titre3, .titre4
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 2em;
}
i
{
    padding-top: 2em;
    padding-left: 6.5em;
    padding-right: 7em;
    align-items: center;
    font-size: 4em;
    color: #f58134f1
}
.notemini
{
    padding-top: 2em;
    padding-bottom: 2em;
}
.soustitre {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    margin-left: 1em;
    margin-right: 1em;
}
.soustitre1
{
    font-size: 2em;
    text-align: center;
}
#bodyMenu2 .soustitre .soustitre1Page2
{
    font-size: 2em;
    color: #C67412;
    text-align: center;
}
#bodyMenu2 .soustitre .soustitre2Page2
{
    font-size: 2em;
    color: #A56799;
    text-align: center;
}
#bodyMenu2 .soustitre .soustitre3Page2
{
    font-size: 2em;
    color: #6E4CCC;
    text-align: center;
}
.listeMenu
{
   width: 75%;
   margin: auto;
   margin-top: 2em;
   margin-bottom: 3em;
}
.liste1Menu
{
   width: 75%;
   margin: auto;
   margin-top: 2em;
   margin-bottom: 3em;
   color: #C67412 ;
}
.liste2Menu
{
   width: 75%;
   margin: auto;
   margin-top: 2em;
   margin-bottom: 3em;
   color: #A56799;
}
.liste3Menu
{
   width: 75%;
   margin: auto;
   margin-top: 2em;
   margin-bottom: 3em;
   color: #6E4CCC;
}
.basmenu
{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 5em;
}
.plat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}
h1 {
    color: #FCCA46;
}
.contenuPage {  
    display: flex;
    flex-direction: column;
    margin: auto;
}
a {
    text-decoration: none;
}
.btn_secousse {
    color: #FCCA46;
}
footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 23px;
    color: #FCCA46;
    background-color: #569C87;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 0;
    position: sticky;
    padding-top: 0;
    padding-bottom: 0;
}
.btn_secousse {
    padding-top: 1px;
    padding-bottom: 1px;
}
.btn_secousse:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


  @media screen and (max-width: 559px)

{
    .entete
{
    font-size: large;
}

footer
{
    font-size: 18px;
}
    #pagebodymenu1
    {
        width: 90%;
    }
    #pagebodymenu2
    {
        width: 90%;
    }
    #pagebodymenu3
    {
        width: 90%;
    }
    #pagebodymenu4
    {
        width: 90%;
    }
    .deco
    {
        width: 22%;
    }
    .prelude
    {
        text-align: center;
        font-size: 1.7em;
    }
    .memu2prelude1
    {
        text-align: center;
        font-size: 1.7em;
    }
    .memu2prelude2
    {
        text-align: center;
        font-size: 1.7em;
    }
    .memu2prelude3
    {
        text-align: center;
        font-size: 1.7em;
    }
    .font1
    {
        text-align: center;
    }
    .font2
    {
        text-align: center;
    }
    .font3
    {
        text-align: center;
    }
    .font4
    {
        text-align: center;
    }
    
}

@media screen and (max-width: 1300px)

{
    .entete
{
    font-size: large;
}

footer
{
    font-size: 18px;
}
    #pagebodymenu1
    {
        width: 90%;
    }
    #pagebodymenu2
    {
        width: 90%;
    }
    #pagebodymenu3
    {
        width: 90%;
    }
    #pagebodymenu4
    {
        width: 90%;
    }
    .deco
    {
        width: 22%;
    }
    .prelude
    {
        text-align: center;
        font-size: 1.7em;
    }
    .memu2prelude1
    {
        text-align: center;
        font-size: 1.7em;
    }
    .memu2prelude2
    {
        text-align: center;
        font-size: 1.7em;
    }
    .memu2prelude3
    {
        text-align: center;
        font-size: 1.7em;
    }
    .font1
    {
        text-align: center;
    }
    .font2
    {
        text-align: center;
    }
    .font3
    {
        text-align: center;
    }
    .font4
    {
        text-align: center;
    }
    
}